@{
    ViewData["title"] = "Alunos";
}

@model IEnumerable<Student>



<div class="container-fluid my-list-container">
    <h2 class="mt-3">Lista de Alunos:</h2>
    <hr />

    <a asp-controller="Students" asp-action="Create" class="nav-link">Novo Aluno</a>
    
    
</div>

