@{
    ViewData["title"] = "Início";
}

<div class="container-fluid p-3">

    <h1 class="display-2 mt-4 text-center font-weight-bold">Portal Do Aluno</h1>

    <div class="container-fluid p-3 mt-5">
        <div class="btn-group mx-auto mw-50 btn-group mx-auto d-grid gap-2 mw-50">
            <button class="btn btn-success mx-auto w-50 mb-3">Aluno</button>
            <button class="btn btn-success mx-auto w-50">Professor</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 mx-2">
            <h2>Sobre</h2>
            <p>
                O Portal do Aluno é uma plataforma de ensino online gratuito em que indivíduos com conhecimento em
                certos assuntos (Professores) criam cursos gratuitos para que outras pessoas (Alunos) possam aprender 
                e evoluir profissional.
            </p>
        </div>
        <div class="col-md-4 mx-2">
            <h2>Lorem</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="col-md-4 mx-2">
            <h2>Ipsum</h2>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.
            </p>
        </div>

    </div>

</div>

