@{
    ViewData["title"] = "Início";
}

<div class="container-fluid p-3">
    
    <h1 class="display-2 mt-4 text-center font-weight-bold">Portal Do Aluno</h1>
    
    <div class="container-fluid p-3 mt-5">        
        <div class="btn-group mx-auto mw-50 btn-group mx-auto d-grid gap-2 mw-50">
            <button class="btn btn-success mx-auto w-50 mb-3">Aluno</button>
            <button class="btn btn-success mx-auto w-50">Professor</button>
        </div>
    </div>

</div>

